main .analyse .sales .status .temperature-control {
    display: flex;
    align-items: center;
}

main .analyse .sales .status .temperature-control button {
    font-size: 18px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #FFC0CB ;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #FF1493 ;
    }
}

main .analyse .sales .status .temperature-control input {
    font-size: 26px;
    padding: 15px;
    width: 120px;
    text-align: center;
    border: 2px solid #FFC0CB;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font stack */

    &:focus {
        outline: none;
        border-color: #FFC0CB;
        box-shadow: 0 0 15px rgba(186, 85, 186, 0.5);  
    }
}